.root {
    -fx-orange-main: #C25955;
    -fx-orange-light: #CE725B;  
}

.button {
    -fx-background-color: radial-gradient(focus-distance 10% , center 50% 30% , radius 80% , #CE725B, #C25955);
    -fx-text-fill: white;
    -fx-border-width: 0 0 3px 0;
    -fx-border-color: #AB3C39;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-padding: 4px 8px 4px 8px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-font-size: 16px;
}

.button:hover{
    -fx-background-color: radial-gradient(focus-distance 10% , center 50% 30% , radius 80% , #FFCA9B, #D89252);
    -fx-background-insets: 0;
}

.background{
    -fx-background-image: url("../images/bg.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.panel {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-radius: 5px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:rgba(0,0,0,0.2);
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
}

.listItem{
    -fx-background-color: white;
}