.root {
    -fx-orange-main: #C25955;
    -fx-orange-light: #CE725B;  
    /* -fx-font-family: 'Roboto'; */
}

.button {
    -fx-background-color: radial-gradient(focus-distance 10% , center 50% 30% , radius 80% , #CE725B, #C25955);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.menuButton {
    -fx-alignment: center-left;
    -fx-padding:  0.4em 0.833333em 0.4em 6;
}

.button:hover{
    -fx-background-color: radial-gradient(focus-distance 10% , center 50% 30% , radius 80% , #FFCA9B, #D89252);
    -fx-background-insets: 0;
}

.background{
    -fx-background-image: url("../images/background_lake_1.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: cover;
    -fx-background-position: center;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.panel {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-radius: 5px;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:rgba(0,0,0,0.2);
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
}

.listItem{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 5;
}

.listItem:hover{
    -fx-background-color: rgba(160,160,120,0.2);
}

.listItemSelected{
    -fx-background-color: rgba(0,0,0,0.6);
    -fx-border-color:-fx-orange-main;
    -fx-border-width: 2;
    -fx-border-radius: 5px;
}

.listItemSelected:hover{
    -fx-background-color: rgba(0,0,0,0.3);
}

.listItemDisabled{
    -fx-opacity: 0.5;
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 5;
}

.shopListItem{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 5;
}

.shopListItem:hover, .shopListItemSelected:hover{
    -fx-background-color: rgba(160,160,120,0.2);
}

.shopListItemSelected{
    -fx-border-color: rgb(75, 212, 75);
    -fx-border-width: 2;
    -fx-border-radius: 5px;
    -fx-background-color: rgba(120,120,120,0.2);
}

.equippedItem:hover{
    -fx-background-color: rgba(120,120,120,0.2);
}


.titleBox{
    -fx-background-image: url("../images/logo_new.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: contain;
    -fx-background-position: center;
}

.propRock{
    -fx-background-image: url("../images/rock.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: contain;
    -fx-background-position: bottom;
}

.propShadow{
    -fx-background-image: url("../avatar/base.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: contain;
    -fx-background-position: bottom;
}
.propCoin{
    -fx-background-image: url("../image/coin.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: contain;
    -fx-background-position: center;
}

.propLock{
    -fx-background-image: url("../icon/lock_large.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: contain;
    -fx-background-position: center;
}

/**
Table stylings
**/
.virtual-flow{
    -fx-background-color: transparent;
}
.clipped-container{
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-control-inner-background-alt: rgba(0,0,0,0.2);
    -fx-control-inner-background: rgba(0,0,0,0.4);
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1;
}
.table-view:focused {
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; 
}

.table-view .table-row-cell{
    -fx-table-cell-border-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: transparent;
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 0 16 0;
    -fx-alignment: top-center;
    -fx-background-color: transparent;
}

.table-view .column-overlay {
    -fx-background-color: transparent;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}

.table-row-cell{
    background: purple;
}
.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.table-row-cell .jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.table-row-cell .jfx-text-field .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.table-row-cell .jfx-text-field .error-icon {
    -fx-fill: #D34336;
    -fx-font-size: 1.0em;
}

.table-row-cell:grouped {
    -fx-background-color: transparent;
}

.table-view .menu-item:focused {
    -fx-background-color: transparent;

}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}
.table-view .filler{
    -fx-background-color: transparent;
}

.table-row-cell:filled:selected { 
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
  }
  .table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
  }

/* Style progress bar */
.progress-bar > .track{
    -fx-background-color: rgba(0,0,0,0.4);
}

.progress-bar > .bar,
.progress-bar:indeterminate > .bar{
    -fx-background-color: -fx-orange-main;
}

/* Tab pane */
.tab-selected-line {
    -fx-background-color: -fx-orange-main;
}
 .tab-header-background {
    -fx-background-color: rgba(0,0,0,0.2);
}
 *.tab-header-area {
    -fx-padding: 0 0 0 0;
}

/*Accordian*/
.titled-pane > *.content{
    -fx-background-color: rgba(0,0,0,0.2) ;
    -fx-border-width: 0;
}

.titled-pane > *.content .label{
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.titled-pane .title {
    -fx-background-color: rgba(0,0,0,0.4) ;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.titled-pane .title:hover {
    -fx-background-color: rgba(100,100,100,0.4) ;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.titled-pane > .title > .text
{
    -fx-fill: WHITE;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: white;
    -fx-focus-color: transparent;
}
.slider {
    -jfx-default-thumb:-fx-orange-light;
}